


<%= form_with(model: book, local: true, data: { 'parsley-validate': true} ) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :book_name, class: "form-control", data: { 'parsley-required': true } %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :book_description, class: "form-control", data: { 'parsley-required': true } %>
  </div>

  <div class="field">
    <%= form.label :cover %>
    <%= form.file_field :cover, id: :book_cover, class: "form-control", data: { 'parsley-required': true } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
